{deps,  [
        {lhttpc, ".*", {git, "https://github.com/talko/lhttpc.git", {branch, "master"}}},
        {envy, ".*", {git, "https://github.com/manderson26/envy.git", {tag, "0.5.0"}}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}}
       ]}.
{clean_files, ["test/*.beam","ebin/*.erl","ebin/*.src","logs/","ebin/","doc/"]}.
{eunit_opts, [verbose, {skip_deps, true}, warnings_as_errors, debug_info]}.  
{eunit_exclude_deps, true}.
{erl_opts, [{src_dirs, ["src", "test"]}]}.
{cover_enabled, true}.
